<style type="text/css">
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin input[type="text"],
    .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
    }
    .right{
        float: right;
    }

</style>
<div class="span12 ">
    
    <form class="form-signin" method="POST" action="<?= $this->url(array('controller' => 'usuario', 'action' => 'index')) ?>">
        <a class="fbc-login-button"><img style="cursor: pointer" src ="<?= $this->baseUrl('img/fbconnect200x24.png') ?>"/> </a>
        
        ou
        <br /><br />
        <h2 class="form-signin-heading">Efetue o login</h2>
        <input type="text" name="usuario" class="input-block-level" placeholder="Email address">
        <input type="password" name="senha" class="input-block-level" placeholder="Password">
        <label class="checkbox"><input type="checkbox" name="manter" value="remember-me"> Mantenha-me conectado</label>
        <a class="right" href="#">Registrar-se</a>
        <button class="btn btn-large btn-primary" type="submit">Entrar</button>

    </form>
</div>