<h3 class="heading">Adicionar unidade</h3>
<div class="span8 offset2">
    <?= $this->form ?>
</div>
<!--

<link href="<?= $this->baseUrl('css/maps.css') ?>" media="screen" rel="stylesheet" type="text/css" >
<script src="http://maps.google.com/maps/api/js?sensor=false&language=en"></script>
<script src="<?= $this->baseUrl('js/gmap3.min.js') ?>"></script>
<script src="<?= $this->baseUrl('js/maps.js') ?>"></script>

<script>
    var $localizacao = '<div class="span4">' +
            '<label>Localização:</label>' +
            //'<a href="#" id="marcar-map" class="btn"><i class="splashy-marker_rounded_green"></i> marcar no mapa</a>' +
            '<a data-toggle="modal" data-backdrop="static" href="#modal-map" id="marcar-map" class="btn"><i class="splashy-marker_rounded_green"></i> marcar no mapa</a>' +
            '</div>';



    $(function() {

        $('#rev_cep').parent().after($localizacao);
        
        plugin_maps.init();
        $('#modal-map').hide();
    });

</script>
<div class="modal fade" id="modal-map">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h3>Marcar localização no mapa</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span3" id="g-map-top">
                <div class="well">
                    <form class="input-append" id="gmap_search">
                        <input autocomplete="off" class="span8" type="text" placeholder="Find location on map..." /><button type="submit" class="btn"><i class="splashy-marker_rounded_add"></i></button>
                    </form>
                </div>

                <div class="location_add_form well" style="display: none">
                    <p class="formSep"><strong>Add/Edit location:</strong></p>
                    <div class="formSep">
                        <label>Name</label>
                        <input type="text" class="span10" id="comp_name" />
                        <label>Contact</label>
                        <input type="text" class="span10" id="comp_contact" />
                        <label>Phone</label>
                        <input type="text" class="span10" id="comp_phone" />
                        <label>Address</label>
                        <input type="text" class="span10" id="comp_address" class="" readonly="readonly" />
                        <label>Lat, Lng</label>
                        <input type="text" class="span10" id="comp_lat_lng" class="" readonly="readonly" />
                        <input type="hidden" id="comp_id" />
                    </div>
                    <button class="btn btn-invert">Save</button>
                </div>
            </div>	
            <div class="span12 clearfix">
                <div class="well">
                    <div id="g_map"></div>
                </div>
            </div>
        </div>

        <fieldset id="fieldset-botoes">                    
            <input type="button" name="submit_tipo" id="submit_tipo" value="Adicionar" class="btn btn-large btn-primary">
            <input type="reset" name="limpar" id="voltar" value="Voltar" class="btn btn-large" data-dismiss="modal">                    
        </fieldset>

    </div>
</div>
-->