<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">Denunciar unidade</h3>
    </div>
</div>
<div class="row-fluid">

    <div class="span6 profile-info">
        <h1><strong><?= $this->unidade->rev_nome ?></strong></h1>
        <ul class="unstyled">
            <li>Tipo de unidade: <strong><?= $this->unidade->tun_desc ?></strong></li>
            <li>Nº Registro: <strong><?= $this->unidade->rev_nregistro ?></strong></li>
            <li>CNPJ: <strong><?= $this->unidade->rev_cnpj ?></strong></li>
            <li>Última revisão feita por: <strong><?= $this->unidade->pes_nome ?></strong></li>
        </ul>
        <p>Informações adicionais: <?= ($this->unidade->rev_desc != "") ? $this->unidade->rev_desc : "nenhuma." ?></p>

    </div>
    <div class="span6">
        <?= $this->form ?>
    </div>
</div>

