<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">Localizar unidades
            <span class="pull-right"><a class="btn btn-mini btn-danger" href="<?= $this->url(array('controller'=>'unidade','action'=>'add'),null,true)?>">Adicionar nova unidade</a></span>
        </h3>
        <div class="filter-bar">
            <form>
                <div class="lbl glyphicons filter">
                    <i></i>Buscar
                </div>
                <div>
                    <input type="text" name="busca" id="busca" value="<?= (isset($this->busca)) ? $this->busca : '' ?>" style="width: 350px; margin-right:15px;">
                </div>
                <div>
                    <label> Buscar por:</label>
                    <select name="tipo_busca" id="tipo_busca">
                        <option value='cidade'<?= (isset($this->tipo_busca) && $this->tipo_busca == "cidade") ? ' selected' : '' ?>> Cidade</option>
                        <option value='uf'<?= (isset($this->tipo_busca) && $this->tipo_busca == "uf") ? ' selected' : '' ?>> Estado</option>
                        <option value='nome'<?= (isset($this->tipo_busca) && $this->tipo_busca == "nome") ? ' selected' : '' ?>> Nome da unidade</option>

                    </select>
                </div>

                <button type="submit" class="btn btn-info">
                    <i class="icon-search icon-white"></i>
                </button>
                <div class="clearfix"></div>
            </form>
        </div>

        <?php if (isset($this->unidades)) : ?>
            <div id="container-filtro">
                <?php foreach ($this->unidades as $unidade) : ?>
                    <div >
                        <div class="row-fluid fila-block" style="height: 39px; overflow: hidden">
                            <div class="span3 unidade-tipo">
                                <h3><?= $this->escape($unidade->tun_nome) ?></h3>
                            </div>
                            <div class="span5">
                                <div class="unidade-info"> 
                                    <h4><?= $this->escape($unidade->rev_nome) ?></h4>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="unidade-local">
                                    <i class="icon-map-marker"></i><?= $this->escape($unidade->rev_cidade) . ' - ' . $this->escape($unidade->rev_uf) ?>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="unidade-btn"> 
                                    <a class="btn btn-warning" href="<?= $this->url(array('controller'=> 'unidade','action'=>'visualizar', 'id'=>$unidade->un_id),null,true)?>">Acessar</a>
                                </div>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div> 
                <?= $this->paginationControl($this->unidades); ?>
            <?php else: ?>
                <br />
                <h5 style="margin-left: 15px; ">Não há unidades para exibir. Verifique os filtros utilizados para busca ou clique <a href="<?= $this->url(array('controller'=> 'unidade','action'=>'add'),null,true)?>">aqui</a> para cadastrar uma nova unidade.</h5>
            <?php endif; ?>
            <br />
        </div>
    </div>
    <script>
        $(function() {
            setPlaceholderBusca();
            $('#tipo_busca').change(function() {
                setPlaceholderBusca();
            });

        });


        function setPlaceholderBusca() {
            switch ($('#tipo_busca').val()) {
                case "nome":
                    $('#busca').attr('placeholder', 'Informe o nome da unidade...').blur();
                    break;
                case "uf":
                    $('#busca').attr('placeholder', 'Informe a sigla do estado (UF)...').blur();
                    break;
                case "cidade":
                    $('#busca').attr('placeholder', 'Informe o nome da cidade...').blur();
                    break;
            }
        }
    </script>