<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<style>

    #map-canvas, #map_canvas {
        height: 100%;
        margin-bottom: 150px;
    }

    #mapCanvas img { 
        max-width: none !important;
    }

    #mapCanvas label { 
        width: auto; display:inline; 
    } 
    
    @media print {

        #map-canvas, #map_canvas {
            height: 350px;
        }
    }

    #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
    }
</style>

<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">Visualizar unidade</h3>
        <div class="row-fluid">
            <div class="span8 profile-info">
                <h1><strong><?= $this->unidade->rev_nome ?></strong> <a class="btn btn-danger btn-large" style="margin: 10px 10px 10px"><i class="icon-tint icon-white"></i> Solicitar doação</a></h1>
                <ul class="unstyled">
                    <li>Tipo de unidade: <strong><?= $this->unidade->tun_desc ?></strong></li>
                    <li>Nº Registro: <strong><?= $this->unidade->rev_nregistro ?></strong></li>
                    <li>CNPJ: <strong><?= $this->unidade->rev_cnpj ?></strong></li>

                </ul>

                <p>Informações adicionais: <?= ($this->unidade->rev_desc != "") ? $this->unidade->rev_desc : "nenhuma." ?></p>
            </div>
            <div class="span4" style="text-align: right">
                
                <a class="btn btn-small btn-info" style="margin: 0px 10px 10px" href="<?= $this->url(array('controller'=>'unidade', 'action'=>'editar', 'id'=>$this->unidade->un_id),null,true)?>">
                    <i class="icon-edit icon-white"></i> Editar informações</a> <br />
                <a class="btn btn-small btn-warning" style="margin: 0px 10px 10px" href="<?= $this->url(array('controller'=>'unidade', 'action'=>'denunciar', 'id'=>$this->unidade->rev_id),null,true)?>">
                    <i class="icon-warning-sign icon-white"></i> Denunciar</a> <br />

            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">Localização</h3>
        <div class="row-fluid">
            <div class="span4" >
                <h5 class="heading">Endereço</h5>
                <ul class="unstyled">
                    <li>Rua: <strong><?= $this->unidade->rev_rua ?></strong></li>
                    <li>Nº: <strong><?= $this->unidade->rev_num ?></strong></li>
                    <li>Bairro: <strong><?= $this->unidade->rev_bairro ?></strong></li>
                    <li>CEP: <strong><?= $this->unidade->rev_cep ?></strong></li>
                    <li>Estado: <strong><?= $this->unidade->rev_uf ?></strong></li>
                    <li>Cidade: <strong><?= $this->unidade->rev_cidade ?></strong></li>
                    <li>Observações: <strong><?= $this->unidade->rev_obs ?></strong></li>
                </ul>
            </div>
            <div class="span8" style="height: 350px">
                <div id="map-canvas"></div>
            </div>
        </div>
    </div>
</div>

<?php
if ($this->unidade->rev_lat != "" && $this->unidade->rev_lon != "") {
    $latLon = $this->unidade->rev_lat . ", " . $this->unidade->rev_lon;
    $zoom = 15;
} else {
    $_endereco = array();
    if ($this->unidade->rev_rua != "")
        $_endereco[] = $this->unidade->rev_rua;
    if ($this->unidade->rev_num != "")
        $_endereco[] = $this->unidade->rev_num;
    if ($this->unidade->rev_bairro != "")
        $_endereco[] = $this->unidade->rev_bairro;
    if ($this->unidade->rev_cep != "")
        $_endereco[] = $this->unidade->rev_cep;
    if ($this->unidade->rev_cidade != "")
        $_endereco[] = $this->unidade->rev_cidade;
    if ($this->unidade->rev_uf != "")
        $_endereco[] = $this->unidade->rev_uf;

    if (count($_endereco) > 0) {
        $endereco = implode(", ", $_endereco) . ", Brasil";
        $zoom = 15;
    } else {
        $endereco = "Brasil";
        $zoom = 5;
    }
}
?>

<script>
    $(function() {
        google.maps.event.addDomListener(window, 'load', initialize);
    });

    var geocoder;
    var map;

    function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(<?= isset($latLon) ? $latLon : "-29.685, -53.807" ?>);
        var mapOptions = {
            zoom: <?= $zoom ?>,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

<?= isset($endereco) ? "codeAddress('{$endereco}');" : '' ?>
<?= isset($latLon) ? "addMarker(latlng);" : '' ?>

    }

    function codeAddress(adress) {
        var address = adress;
        geocoder.geocode({'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    title: '<?= $this->unidade->rev_nome ?>'
                });
            } else {
                console.log("Não foi possível carregar o endereço no mapa. Detalhes: " + status);
            }
        });
    }

    function addMarker(location) {
        new google.maps.Marker({
            map: map,
            position: location,
            title: '<?= $this->unidade->rev_nome ?>'
        });
    }



</script>