<script src="<?= $this->baseUrl('js/jquery.isotope.min.js') ?>"></script>
<script>

    $(function() {

        var $container = $('#container-filtro'),
                filters = {};

        $container.isotope({
            itemSelector: '.filtro-log',
            layoutMode: 'straightDown'
        });


        /* filter buttons */
        $('.filter a').click(function() {
            var $this = $(this);
            /* don't proceed if already selected */
            if ($this.hasClass('selected')) {
                return;
            }

            var $optionSet = $this.parents('.option-set');
            /* change selected class */
            $optionSet.find('.selected').removeClass('selected');
            $this.addClass('selected');

            /* store filter value in object
             // i.e. filters.color = 'red' */
            var group = $optionSet.attr('data-filter-group');
            filters[ group ] = $this.attr('data-filter-value');
            /* convert object into array */
            var isoFilters = [];
            for (var prop in filters) {
                isoFilters.push(filters[ prop ]);
            }
            var selector = isoFilters.join('');
            $container.isotope({filter: selector});

            return false;
        });

    });
</script>
<style type="text/css">
	.isotope { overflow: hidden !important;}
	.isotope-item { 
            /*position: relative !important;*/ 
            margin-bottom: 2px !important; 
            width: 100% !important; 
        }
</style>
<div class="row-fluid">
    <div class="span12">
        <div class="heading clearfix">
            <h3 class="pull-left">Registros de log</h3>
        </div>
        <section id="options" class="clearfix combo-filters">
            <div class="row-fluid">
                <div class="span12">
                    <div class="option-combo instancia span12">
                        <h4>Nível do alerta</h4>
                        <ul class="filter option-set clearfix " data-filter-group="logs">
                            <li><a href="#filter-any" data-filter-value="" class="selected">TODAS</a></li>
                            <li><a href="#filter-<?= Utils_Log::_INFO ?>" data-filter-value=".N<?= Utils_Log::_INFO ?>">INFORMATIVO<span class="badge-counter"><?= "2" ?></span></a></li>
                            <li><a href="#filter-<?= Utils_Log::_WARNING ?>" data-filter-value=".N<?= Utils_Log::_WARNING ?>">ATENÇÃO</a></li>
                            <li><a href="#filter-<?= Utils_Log::_ERROR ?>" data-filter-value=".N<?= Utils_Log::_ERROR ?>">ERRO</a></li>
                            <li><a href="#filter-<?= Utils_Log::_FATAL_ERROR ?>" data-filter-value=".N<?= Utils_Log::_FATAL_ERROR ?>">ERRO GRAVE</a></li>
                            <li><a href="#filter-<?= Utils_Log::_FB_API_ERROR ?>" data-filter-value=".N<?= Utils_Log::_FB_API_ERROR ?>">ERRO APP</a></li>
                        </ul>
                    </div>
                </div>
            </div>			
        </section>
        <div class="margin10"></div>

        <?php if (isset($this->logs)) : ?>
            <div id="container-filtro">
                <?php foreach ($this->logs as $log) : ?>
                <div class=" filtro-log <?= 'N' . $log->log_nivel ?>">
                        <div class="row-fluid fila-block">
                            <div class="span2 fila-tipo">
                                <h3><?= Zend_Registry::get('format')->formatTimestamp($log->log_timestamp,3)?></h3>
                                <span class="tipo-pessoa"><i class="icon-calendar"></i> <?= Zend_Registry::get('format')->formatTimestamp($log->log_timestamp,1)?></span>
                            </div>
                            <div class="span8 fila-text">
                                <div class="fila-text-info">
                                    <p style="margin-top: 5px;"><?= is_array(unserialize($log->log_text)) ? print_r(unserialize($log->log_text)) : unserialize($log->log_text)?></p>
                                </div>
                            </div>
                            <div class="span2 fila-status fila-aguardando-prioritario">
                                <h4><?php 
                                    switch ($log->log_nivel){
                                        case Utils_Log::_INFO: print "INFORMATIVO"; break;
                                        case Utils_Log::_WARNING: print "ATENÇÃO"; break;
                                        case Utils_Log::_ERROR: print "ERRO"; break;
                                        case Utils_Log::_FATAL_ERROR: print "ERRO GRAVE"; break;
                                        case Utils_Log::_FB_API_ERROR: print "FB ERROR"; break;
                                        default : "&nbsp;";
                                    }
                                ?></h4>
                                <p>&nbsp;</p>
                            </div>           
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>
    </div>
</div>
