
<div class="span10 offset1" style="text-align: center">
    <h1>Doe sangue você também!</h1>
    <p class="lead">
        Navegue pelo menu e tire suas dúvidas sobre o processo de doação. Encontre a unidade de coleta de sangue mais perto de você. <br />
        Cadastre-se ou faça login para realizar solicitações de sangue e receber notificações de seus amigos ou de sua região!</p>
    <?php if (!isset(Zend_Registry::get('usuario')->u_id)) : ?>
        <a class="btn btn-large btn-success" href="<?= $this->url(array('controller' => 'usuario', 'action' => 'index'), null, true) ?>"> Fazer Login </a>
    <?php endif; ?>
</div>

<br />

<div class="row-fluid">
    <div class="span8 search_page">
        <div class="heading clearfix">
            <h3 class="pull-left">Últimas solicitações</h3>
        </div>
        <?php if (isset($this->solicitacoes) && count($this->solicitacoes) > 0): ?>
            <div class="search_panel clearfix box_view">
                <?php foreach ($this->solicitacoes as $sol): ?>
                    <div class="search_item clearfix">
                        <span style="float:right">
                            <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent('<?= "http://www.eudoador.org/solicitacao/visualizar/id/" . $sol->sol_id; ?>'), 'Compartilhar solicitação', 'width=626,height=436');return false;"><i class="icon-facebook"></i></a>
                            <a href="#" onclick="window.open('http://twitter.com/home?status=' + encodeURIComponent('EuDoador :: Doe sague você também: ' + '<?= "http://www.eudoador.org/solicitacao/visualizar/id/" . $sol->sol_id; ?>'), 'Compartilhar solicitação', 'width=626,height=436'); return false;"><i class="icon-twitter"></i></a>
                        </span>
                        <h4>
                            <a href="<?= $this->url(array('controller' => 'solicitacao', 'action' => 'visualizar', 'id' => $sol->sol_id))?>" class="sepV_a"><?= $sol->rev_nome?></a>
                        </h4>
                        <p class="description"><?= $sol->sol_detalhes?>.</p>

                        <small><i class="icon-user"></i> <?= $sol->sol_paciente ?></small>,  <small><i class="icon-tint"></i> <?= $sol->ts_nome ?> </small><?= $sol->sol_qtd > 0 ? ", <small><i class=\"icon-exclamation-sign\"></i> {$sol->sol_qtd} bolsas</small>" : "" ?>

                        <br />
                        <small class="rodape">criado por <a><?= $sol->pes_nome?></a> em <?= Zend_Registry::get('format')->dataPorExtenso($sol->sol_dt)?></small>
                    </div>
                <?php endforeach; ?>
                <div class="search_item clearfix">
                    <span style="float:right"><i class="icon-facebook"></i> <i class="icon-twitter"></i></span>
                    <h4>
                        <a href="javascript:void(0)" class="sepV_a">Hemocentro Regional de Santa Maria</a>
                    </h4>
                    <p class="description">Fulano está internado e precisa urgente de sangue.</p>

                    <small><i class="icon-user"></i> Fulano de tal </small>,  <small><i class="icon-tint"></i> O- </small>, <small><i class="icon-exclamation-sign"></i> 25 bolsas</small>

                    <br />
                    <small class="rodape">criado por <a>João da Silva</a> em 10 de Junho de 2013</small>
                </div>

                <div class="search_item clearfix">
                    <span style="float:right"><i class="icon-facebook"></i> <i class="icon-twitter"></i></span>
                    <h4>
                        <a href="javascript:void(0)" class="sepV_a">Hospital de Caridade</a>
                    </h4>
                    <p class="description">Meu filho sofreu um acidente e está precisando de doações de sangue de todos os tipos.</p>

                    <small><i class="icon-user"></i> Jeremias</small>, <small><i class="icon-tint"></i> Qualquer tipo </small>, <small><i class="icon-exclamation-sign"></i> 30 bolsas</small>

                    <br />
                    <small class="rodape">criado por <a>Maria</a> em 8 de Junho de 2013</small>
                </div>

            </div>
        <?php else: ?>
            <p>Não há solicitações para exibir no momento.</p>
        <?php endif; ?>

    </div>


    <div class="span4">
        <div class="heading clearfix">
            <h3 class="pull-left">Atividades recentes</h3>
        </div>
        <ul class="list user_list">
            <li>
                <a href="#" class="sl_name">Maria</a> compartilhou uma <a>solicitação</a> no twitter.<br />
                <small class="s_color ">há 1 minuto atrás</small>
            </li>
            <li>
                <a href="#" class="sl_name">João da Silva</a> comentou em uma <a>solicitação</a>.<br />
                <small class="s_color ">há 5 minutos atrás</small>
            </li>
            <li>
                <a href="#" class="sl_name">João da Silva</a> solicitou uma <a>doação</a>.<br />
                <small class="s_color ">há 7 minutos atrás</small>
            </li>
        </ul>
        <div class="well btn-mini">
            <h4 class="nome-grupo" style="text-align: center">Carregar mais...</h4>
        </div>

    </div>
</div>


