.navbar-inner, #title-bar, #access {
    background: #3993ba;
    background: -moz-linear-gradient(top, #3993ba 0%, #067ead 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3993ba), color-stop(100%,#067ead));
    background: -webkit-linear-gradient(top, #3993ba 0%,#067ead 100%);
    background: -o-linear-gradient(top, #3993ba 0%,#067ead 100%);
    background: -ms-linear-gradient(top, #3993ba 0%,#067ead 100%);
    background: linear-gradient(top, #3993ba 0%,#067ead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3993ba', endColorstr='#067ead',GradientType=0 );
}
.navbar .nav > li > a {
    color: #c1dce7;
}
.navbar .nav > li:hover > a {
    color:#fff;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background: #206484;
}
.navbar .divider-vertical {
    background-color:#2078A1;
    border-color:#3497C2;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.nav-list > .active > a, .nav-list > .active > a:hover {
    background: #48a6d2 !important;
}

.table thead th {background-color:#ebf2f6 !important}
.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#d4e3eb !important}