.navbar-inner {
    background: #9b6e3b;
    background: -moz-linear-gradient(top,  #9b6e3b 0%, #76542d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b6e3b), color-stop(100%,#76542d));
    background: -webkit-linear-gradient(top,  #9b6e3b 0%,#76542d 100%);
    background: -o-linear-gradient(top,  #9b6e3b 0%,#76542d 100%);
    background: -ms-linear-gradient(top,  #9b6e3b 0%,#76542d 100%);
    background: linear-gradient(top,  #9b6e3b 0%,#76542d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b6e3b', endColorstr='#76542d',GradientType=0 );
}
.navbar .nav > li > a {
    color: #efe3d5;
}
.navbar .nav > li:hover > a {
    color:#fff;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background: #76542d;
}
.navbar .divider-vertical {
    background-color:#76542d;
    border-color:#bb884e;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.nav-list > .active > a, .nav-list > .active > a:hover {
    background: #b47f44 !important;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    background: #b47f44 !important;
    border-color:#b47f44 !important;
}

.table thead th {background-color:#f8f3ee !important}
.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#eee2d6 !important}