.navbar-inner, #title-bar, #access {
    background: #087135;
    background: -moz-linear-gradient(top, #358B5A 0%, #087135 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#358B5A), color-stop(100%,#087135));
    background: -webkit-linear-gradient(top, #358B5A 0%,#087135 100%);
    background: -o-linear-gradient(top, #358B5A 0%,#087135 100%);
    background: -ms-linear-gradient(top, #358B5A 0%,#087135 100%);
    background: linear-gradient(top, #358B5A 0%,#087135 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#358B5A', endColorstr='#087135',GradientType=0 );
}
.navbar .nav > li > a {
    color: #fff;
}
.navbar .nav > li:hover > a {
    color:#fff;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background: #58692b;
}
.navbar .divider-vertical {
    background-color:#09612E;
    border-color:#0A8E42;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.nav-list > .active > a, .nav-list > .active > a:hover {
    background: #09612E !important;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    background: #09612E !important;
    border-color:#09612E !important;
}

.table thead th {background-color:#eff7ec !important}
.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#dbedd4 !important}