body .modal {
    width: 90%; /* desired relative width */
    /* height: 90%; */
    height: 600px;

    top: 5%; /* (100%-width)/2 */
    left: 5%; /* (100%-width)/2 */
    margin: auto auto auto auto; /* place center */
}
body .modal.fade.in {
    top: 5%;  /*fade in to correct spot */
}
.modal-body{
    height: 100%; 
}

#g_map{
    width:100% !important;
    height:400px !important;
    z-index: 9999;
}