<div id="jCrumbs" class="breadCrumb module">
    <ul>    
        <li><a href="<?= $this->baseUrl('/') ?>" title="Home"><i class="icon-home"></i> Início</a></li>
        <?php
        for ($i = 0, $size = sizeof($this->pages); $i < $size; $i++) {

            if ($this->pages[$i]->getParams()) {
                $parms = array_keys($this->pages[$i]->getParams());

                for ($j = 0; $j < count($parms); $j++) {
                    $values[$parms[$j]] = Zend_Controller_Front::getInstance()->getRequest()->getParam($parms[$j]);
                }
                $this->pages[$i]->setParams($values);
            }

            $url = $this->pages[$i]->getHref();
            $label = $this->pages[$i]->getLabel();
            $link = ($i != ($size - 1)) ? '<li><a href="' . $url . '" title="' . $label . '">' . $label . '</a></li>' : '<li>' . $label . '</li>';

            echo $link;
        }
        ?>
    </ul>
</div>

