<?php

$request = Zend_Controller_Front::getInstance()->getRequest();
$modulo = $request->getModuleName();
$controller = $request->getControllerName();

foreach ($this->container as $page) {
    if ($page->visible == 1) {
        if ($page->hasPages()) {
            print '<li class="dropdown">' .
                    '<a data-toggle="dropdown" class="dropdown-toggle" href="' . $page->getHref() . '">
                            <i class="' . $page->image . '"></i> ' . $page->getLabel() . '<b class="caret"></b> 
                    </a>
                    <ul class="dropdown-menu">';
            foreach ($page as $subpage) {
                if ($subpage->visible == 1) {
                    print '
                        <li>
                            <a href="' . $subpage->getHref() . '">
                                <i class="' . $subpage->image . '"></i> ' . $subpage->getLabel() .
                            '</a>
                        </li>
                    ';
                    if($subpage->divisor == 1){
                        print '<li class="divider"></li>';
                    }
                }
            }
            print '</ul>
                </li>';
        } elseif($page->external) {
            print '<li><a href="' . $page->url . '"><i class="' . $page->image . '"></i> ' . $page->getLabel() . '</a></li>';
        }else{
            print '<li><a href="' . $page->getHref() . '"><i class="' . $page->image . '"></i> ' . $page->getLabel() . '</a></li>';
        }
    }
}
