<?php if ($this->pageCount): 
    if(isset($_GET['busca']) && isset($_GET['tipo_busca']) )
        $params = "?busca=" . $_GET['busca'] . "&tipo_busca=" . $_GET['tipo_busca'];
    else
        $params = "";
    ?>
    <div class="row-fluid">
        <div class="span6">
            <div class="dataTables_info" id="dt_gal_info">Mostrando <?= $this->firstItemNumber ?> à <?= $this->lastItemNumber ?> de <?= $this->totalItemCount ?> itens</div>
        </div>
        <div class="span6">
            <div class="dataTables_paginate paging_bootstrap pagination">
                <ul>
                    <li><a href="<?= $this->url(array('pagina' => $this->previous)) . $params; ?>">&lt; Anterior</a></li>
                    <?php foreach ($this->pagesInRange as $page): ?>
                        <li <?php if ($page == $this->current): ?>class="active"<?php endif; ?>>
                            <a href="<?= $this->url(array('pagina' => $page)) . $params; ?>"><?= $page; ?></a></li>
                    <?php endforeach; ?>
                    <li><a href="<?= $this->url(array('pagina' => $this->next)) . $params; ?>">Próximo &gt; </a></li>
                </ul>
            </div>
        </div>
    </div>
<?php endif; ?>
