<?php

$request = Zend_Controller_Front::getInstance()->getRequest();
$modulo = $request->getModuleName();
$controller = $request->getControllerName();

foreach ($this->container as $page) {
    if (($page->visible == 1) && ($page->getModule() == $modulo) && ($page->hasPages())) {
        foreach ($page as $subpage) {
            if ($subpage->visible == 1){
                //$active = ($controller == $subpage->getController()) ? 'active' : '';
                print '<div class="accordion-group">
                            <div class="accordion-heading"> 
                                <a href="' . $subpage->getHref() . '" class="accordion-single">
                                    <i class="' . $subpage->image . '"></i> ' . $subpage->getLabel() . 
                               '</a>
                            </div>
                       </div>';
            }
        }
    }
}