<link rel="stylesheet" href="<?= $this->baseUrl('lib/chosen/chosen.css')?>" />
<script src="<?= $this->baseUrl('lib/chosen/chosen.jquery.min.js')?>"></script>


<script>
    $(function() {
        $("#un_id").chosen({
            allow_single_deselect: true,
            placeholder_text_single: "Selecione a unidade..."
        });
    });
</script>
<h3 class="heading">Nova solicitação</h3>
<div class="span8 offset2">
    <?= $this->form ?>
</div>