<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">Visualizar solicitação</h3>
        <div class="row-fluid">
            <div class="span9 profile-info">
                <h1><strong>Solicitação #<?= $this->sol->sol_id ?></strong> 

                    <a href="#" class="btn btn-mini" style="margin-left: 15px" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(location.href), 'Compartilhar solicitação', 'width=626,height=436');
                            return false;"><i class="icon-facebook"></i> compartilhar </a>
                    <a href="#" class="btn btn-mini" 
                       onclick="window.open('http://twitter.com/home?status=' + encodeURIComponent('EuDoador :: Doe sague você também: ' + location.href), 'Compartilhar solicitação', 'width=626,height=436');
                            return false;"><i class="icon-twitter"></i> twittar </a>

                    <span class="pull-right">
                        <small><?php
                            if($this->ndoacoes == 0) print "Ninguém doou ainda";
                            elseif($this->ndoacoes == 1) print "1 pessoa já doou";
                            else print $this->ndoacoes . " pessoas já doaram"
                        ?></small>
                        <?php if (isset(Zend_Registry::get('usuario')->u_id)): ?>
                            <a class="btn btn-mini btn-danger" href="<?= $this->url(array('action' => 'doei', 'id' => $this->sol->sol_id)) ?>">
                                <i class="icon-tint icon-white"></i> Eu também doei
                            </a>
                        <?php endif; ?>
                    </span>
                </h1>
                <ul class="unstyled">
                    <li><i class="icon-home"></i> Unidade: <a href="<?= $this->url(array('controller' => 'unidade', 'action' => 'visualizar', 'id' => $this->sol->un_id), null, true) ?>"><strong><?= $this->sol->rev_nome ?></strong></a></li>
                    <li><i class="icon-info-sign"></i> Solicitação: <strong><?= $this->sol->tsol_nome ?></strong></li>
                    <?php if ($this->sol->tsol_cod == 1): ?><li><i class="icon-user"></i> Paciente: <strong><?= $this->sol->sol_paciente ?></strong></li><?php endif; ?>
                    <li><i class="icon-tint"></i> Tipo de sangue: <strong><?= $this->sol->ts_desc ?></strong></li>
                    <li><i class="icon-calendar"></i> Data: <?= Zend_Registry::get('format')->formatTimestamp($this->sol->sol_dt) ?></li>
                </ul>
                <p>Informações adicionais: <?= ($this->sol->sol_detalhes != "") ? $this->sol->sol_detalhes : "nenhuma." ?></p>
            </div>

            <div class="span3" style="text-align: right">
                <?php if (Zend_Registry::get('usuario')->u_tipo == Utils_ACL::_SUPERUSUARIO || $this->sol->u_id == Zend_Registry::get('usuario')->u_id): ?>

                    <a class="btn btn-small btn-info" style="margin: 0px 10px 10px" href="<?= $this->url(array('action' => 'editar', 'id' => $this->sol->sol_id)) ?>">
                        <i class="icon-edit icon-white"></i> Editar solicitação
                    </a> <br />
                <?php endif; ?>

            </div>

        </div>
    </div>
</div>