<?php
header("Expires: Mon, 26 Jul 1997 05:00:00 GMT");
header("Cache-Control: no-cache");
header("Pragma: no-cache");

$request = Zend_Controller_Front::getInstance()->getRequest();
$module = $request->getModuleName();
$controller = $request->getControllerName();
$action = $request->getActionName();
?>
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle() ?>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta property="og:image" content="<?= $this->baseUrl('img/logosmall.png') ?>"/>

        <!-- For Modern Browsers -->
        <link rel="shortcut icon" href="<?= $this->baseUrl('img/favicon.png') ?>">
        <!-- For everything else -->
        <link rel="shortcut icon" href="<?= $this->baseUrl('img/favicon.ico') ?>">


        <!-- Bootstrap framework -->
        <?php
        $this->headLink()->appendStylesheet($this->baseUrl('bootstrap/css/bootstrap.css'));
        $this->headLink()->appendStylesheet($this->baseUrl('bootstrap/css/bootstrap-responsive.css'));
        $this->headLink()->appendStylesheet($this->baseUrl('css/glyphicons.css'));
        $this->headLink()->appendStylesheet($this->baseUrl('css/widgets.css'));
        $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.tools.css'));
        $this->headLink()->appendStylesheet($this->baseUrl('css/eastern_blue.css'));
        $this->headLink()->appendStylesheet($this->baseUrl('img/splashy/splashy.css'));
        $this->headLink()->appendStylesheet($this->baseUrl('lib/qtip2/jquery.qtip.min.css'));
        $this->headLink()->appendStylesheet($this->baseUrl('css/style.css'));
        ?>        
        <?= $this->headLink(); ?>
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="<?= $this->baseUrl('css/ie.css') ?>" />
            <script src="<?= $this->baseUrl('js/ie/html5.js') ?>"></script>
            <script src="<?= $this->baseUrl('js/ie/respond.min.js') ?>"></script>
            <script src="<?= $this->baseUrl('js/ie/excanvas.min.js') ?>"></script>
        <![endif]-->

        <?php
        $this->headScript()->appendFile('//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js');
        $this->headScript()->appendFile($this->baseUrl('js/jquery.tools.min.js'));
        $this->headScript()->appendFile($this->baseUrl('js/jquery.form.js'));
        $this->headScript()->appendFile($this->baseUrl('bootstrap/js/bootstrap.js'));
        $this->headScript()->appendFile($this->baseUrl('js/jquery.inputmask.min.js'));
        $this->headScript()->appendFile($this->baseUrl('js/jquery.autosize.min.js'));
        $this->headScript()->appendFile($this->baseUrl('js/common.js'));
        $this->headScript()->appendFile($this->baseUrl('lib/tag_handler/jquery.taghandler.min.js'));
        $this->headScript()->appendFile($this->baseUrl('lib/datatables/jquery.dataTables.min.js'));
        $this->headScript()->appendFile($this->baseUrl('lib/datatables/jquery.dataTables.bootstrap.min.js'));
        $this->headScript()->appendFile($this->baseUrl('lib/datatables/jquery.dataTables.sorting.js'));
        //$this->headScript()->appendFile($this->baseUrl('js/script.js'));
        ?>
        <?= $this->headScript(); ?>



    </head>
    <body class="menu_hover ptrn_b">
        <div id="maincontainer" class="clearfix">
            <header>
                <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <a class="brand" href="<?= $this->url(array('controller' => 'index', 'action' => 'index'), null, true) ?>">
                                <!-- <i class="icon-th icon-white"></i> <?= Zend_Registry::get('applicattion'); ?> -->
                                <img src="<?= $this->baseUrl('img/logosmall.png'); ?>" />
                            </a>
                            <!--
                            Notificações
                            <ul class="nav nav-notifications pull-right">
                                <li class="dropdown">
                                    <a title="Atividades aguardando executores" href="<?= $this->baseUrl('/cadastro/agenda/inbox') ?>"  class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icone-users"></i><span class="badge">Teste</span>
                                    </a>
                                </li>
                            </ul>
                            -->
                            <?php if (isset(Zend_Registry::get('usuario')->u_id)) : ?>
                                <ul class="nav user_menu pull-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><?= Zend_Registry::get('usuario')->pes_apelido ?> <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="<?= $this->url(array('controller' => 'usuario', 'action' => 'perfil'), null, true) ?>">Perfil</a></li>
                                            <li class="divider"></li>
                                            <li><a href="<?= $this->url(array('controller' => 'usuario', 'action' => 'config'), null, true) ?>">Configurações</a></li>
                                            <li class="divider"></li>
                                            <li><a href="<?= $this->url(array('controller' => 'usuario', 'action' => 'logoff'), null, true) ?>">Sair</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            <?php else: ?>
                                <ul class="nav user_menu pull-right">
                                    <li><a href='<?= $this->url(array('controller' => 'usuario', 'action' => 'index'), null, true) ?>'>Entrar</a></li>
                                    <li><a href="javascript:void(0);" class="fbc-login-button"><img src="<?= $this->baseUrl('img/facebook-icon.png') ?>"></a></li>
                                </ul>
                            <?php endif; ?>
                            <a data-target=".nav-collapse" data-toggle="collapse" class="btn_menu">
                                <span class="icon-align-justify icon-white"></span>
                            </a>
                            
                            <div class="nav-collapse">
                                <nav>
                                    <ul class="nav">
                                        <li><a href="<?= $this->url(array('controller' => 'unidade', 'action' => 'index'), null, true) ?>"><i class="icon-map-marker icon-white"></i> Onde doar </a></li>
                                        <li><a href="#"><i class="icon-tint icon-white"></i> Seja um doador </a></li>
                                        <li><a href="<?= $this->url(array('controller' => 'info', 'action' => 'index'), null, true) ?>"><i class="icon-info-sign icon-white"></i> Tire suas dúvidas </a></li>
                                        <li><a href="<?= $this->url(array('controller' => 'contato', 'action' => 'index'), null, true) ?>"><i class="icon-envelope icon-white"></i> Contato </a></li>

                                        <?php if (isset(Zend_Registry::get('usuario')->u_tipo) && Zend_Registry::get('usuario')->u_tipo == Utils_ACL::_SUPERUSUARIO) : ?>
                                            <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                                    <i class="icon-cog icon-white"></i> Administrativo<b class="caret"></b> 
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="<?= $this->url(array('controller' => 'denuncias', 'action' => 'index'), null, true) ?>">
                                                            <i class=""></i> Alertas</a>
                                                    </li>
                                                    <li>
                                                        <a href="<?= $this->url(array('controller' => 'log', 'action' => 'index'), null, true) ?>">
                                                            <i class=""></i> Logs</a>
                                                    </li>
                                                    <li>
                                                        <a href="<?= $this->url(array('controller' => 'contato', 'action' => 'mensagens'), null, true) ?>">
                                                            <i class=""></i> Mensagens</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        <?php endif; ?>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
            </header>
            <div id="contentwrapper">
                <div class="main_content<?= (true /* $module != 'default' */) ? ' no-aside' : '' ?>">

                    <?php
                    $feedback = Zend_Registry::get('feedback');
                    if (isset($feedback) && (!empty($feedback))) :
                        ?>
                        <div class="alert alert-block <?= ($feedback[0] != '') ? "alert-" . $feedback[0] : "" ?> fade in">
                            <button type="button" class="close" data-dismiss="alert">x</button>
                            <h4 class="alert-heading"><?= $feedback[1] ?></h4>
                            <p><?= $feedback[2] ?></p>
                        </div>
                    <?php endif; ?>

                    <?= $this->layout()->content ?>

                </div>
            </div>
        </div>

        <div id="fb-root"></div>
        <script>
            // Additional JS functions here
            window.fbAsyncInit = function() {
                FB.init({
                    appId: '<?= Zend_Registry::get('fb')->app_id ?>', // App ID
                    channelUrl: '<?= Zend_Registry::get('fb')->channel ?>', // Channel File
                    status: true, // check login status
                    cookie: true, // enable cookies to allow the server to access the session
                    oauth: true, // enable OAuth 2.0
                    xfbml: true  // parse XFBML
                });
                $('.fbc-login-button').click(function() {
                    FB.getLoginStatus(function(response) {
                        if (response.authResponse) {
                            this.location = '<?= $this->url(array('controller' => 'usuario', 'action' => 'facebook')) ?>' + '/token/' + response.authResponse.accessToken;
                        }
                        else {
                            FB.login(function(response) {
                                if (response.authResponse) {
                                    this.location = '<?= $this->url(array('controller' => 'usuario', 'action' => 'facebook')) ?>' + '/token/' + response.authResponse.accessToken;
                                }
                            }, {scope: 'email'});
                        }
                    });

                });
            };

            (function(d) {
                var js, id = 'facebook-jssdk';
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement('script');
                js.id = id;
                js.async = true;
                js.src = "//connect.facebook.net/en_US/all.js";
                d.getElementsByTagName('head')[0].appendChild(js);
            }(document));
        </script>

        <footer>
            <div class="container">
                <p>EuDoador © 2013. Todos os direitos reservados.</p>
            </div>
        </footer>
    </body>
</html>
