<div class="row-fluidw">
    <div class="span12">

        <h3>Requisitos básicos para doação de sangue</h3>
        <br />
        <p>Na triagem de doadores, são obedecidas as <a href="http://www.prosangue.sp.gov.br/uploads/legislacao/portaria1353.pdf" target="_blank">normas nacionais</a> e internacionais, como as do Ministério da Saúde, Associação Americana e Conselho Europeu de Bancos de Sangue. O alto rigor no cumprimento dessas normas visa oferecer segurança e proteção ao receptor e ao doador. </p>

        <p>Abaixo estão listados os requisitos básicos e alguns dos principais impedimentos temporários e definitivos para doação de sangue. 
            <strong>No entanto, esta lista não esgota os motivos de impedimentos para doação</strong>, de forma que outras informações prestadas por você durante a triagem clínica serão consideradas para definir se está apto para doar sangue nesse momento.</p>

        <br />
        <h5> Requisitos básicos</h5>

        <ul class="duvidas">
            <li>
                Estar em boas condições de saúde.
            </li>
            <li>
                Ter entre 16 e 67 anos, desde que a primeira doação tenha sido feita até 60 anos (menores de 18 anos, clique para ver <a href="http://weboffice.macronetwork.com.br/uploads/pro_sangue/arquivos/documentos_para_o_menor_de_idade_doar_sangue.pdf" target="_blank" title="Documentos necessários">documentos necessários</a> e <a href="http://weboffice.macronetwork.com.br/uploads/pro_sangue/arquivos/formulario_para_menor_de_idade_doar_sangue.pdf" target="_blank" title="Formulário de autorização">formulário de autorização</a>).
            </li>
            <li>
                Pesar no mínimo 50kg.
            </li>
            <li>
                Estar descansado (ter dormido pelo menos 6 horas nas últimas 24 horas).
            </li>
            <li>
                Estar alimentado (evitar alimentação gordurosa nas 4 horas que antecedem a doação).
            </li>
            <li>
                Apresentar documento original com foto emitido por órgão oficial (Carteira de Identidade, Cartão de Identidade de Profissional Liberal, Carteira de Trabalho e Previdência Social).
            </li>
        </ul>

        <br />
        <h5>Impedimentos temporários</h5>
        <ul class="duvidas">
            <li>
                Resfriado: aguardar 7 dias após desaparecimento dos sintomas.
            </li>
            <li>
                Gravidez
            </li>
            <li>
                90 dias após parto normal e 180 dias após cesariana.
            </li>
            <li>
                Amamentação (se o parto ocorreu há menos de 12 meses).
            </li>
            <li>
                Ingestão de bebida alcoólica nas 12 horas que antecedem a doação.
            </li>
            <li>
                Tatuagem nos últimos 12 meses.
            </li>
            <li>
                Situações nas quais há maior risco de adquirir doenças sexualmente transmissíveis: aguardar 12 meses.
            </li>
            <li>
                Acre, Amapá, Amazonas, Rondônia, Roraima, Maranhão, Mato Grosso, Pará e Tocantins são estados onde há alta prevalência de malária. Quem esteve nesses estados deve aguardar 12 meses.
            </li>
        </ul>

        <br />
        <h5>Impedimentos definitivos</h5>
        <ul class="duvidas">
            <li>
                Hepatite após os 11 anos de idade. *
            </li>
            <li>
                Evidência clínica ou laboratorial das seguintes doenças infecciosas transmissíveis pelo sangue: Hepatites B e C, AIDS (vírus HIV), doenças associadas aos vírus HTLV I e II e Doença de Chagas.
            </li>
            <li>
                Uso de drogas ilícitas injetáveis.
            </li>
            <li>
                Malária.
            </li>
        </ul>
        <p>* Hepatite após o 11º aniversário: Recusa Definitiva; Hepatite B ou C após ou antes dos 10 anos: Recusa definitiva; Hepatite por Medicamento: apto após a cura e avaliado clinicamente;&nbsp;Hepatite viral (A): após os 11 anos de idade, se trouxer o exame do diagnóstico da doença, será avaliado pelo médico da triagem.</p>

        <br />

        <h5>Respeitar os intervalos para doação</h5>

        <ul class="duvidas">
            <li>
                Homens - 60 dias (máximo de 04 doações nos últimos 12 meses).
            </li>
            <li>
                Mulheres - 90 dias (máximo de 03 doações nos últimos 12 meses).
            </li>
        </ul>

        <p>Honestidade também salva vidas. Ao doar sangue, seja sincero na entrevista.</p>
        <br />
        <br />

        <p>Fonte: <a href="http://www.prosangue.sp.gov.br/artigos/requisitos_basicos_para_doacao" target="_blank">Fundação Pró-Sangue</a></p>

    </div>
</div>