


<div class="row-fluid">
    <div class="span12">
<!--        
        <div class="span12 error_page" style="height: 400px;">
            <div class="error_box">
                <h1>404 - Página não encontrada</h1>
                <p>Utilize o menu superior para navegar pelo site.</p>
                <a href="javascript:history.back()" class="back_link btn btn-small">Voltar</a>
            </div>
        </div>
        <pre>
        <?php //echo var_dump($this) ?>
        </pre>
-->

        <h1>An error occurred</h1>
        <h2><?php echo $this->message ?></h2>

        <?php if (isset($this->exception)): ?>

            <h3>Exception information:</h3>
            <p>
                <b>Message:</b> <?php echo $this->exception->getMessage() ?>
            </p>

            <h3>Stack trace:</h3>
            <pre><?php echo $this->exception->getTraceAsString() ?>
            </pre>

            <h3>Request Parameters:</h3>
            <pre><?php echo $this->escape(var_export($this->request->getParams(), true)) ?>
            </pre>

        <?php endif
        ?>
    </div>
</div>