<h2 class="heading">Contato</h2>
<form class="well span8 offset2" method="POST">
    <div class="row">
        <div class="span3">
            <label>Nome</label>
            <input type="text" name="nome" class="span3" placeholder="nome completo" maxlength="50" value="<?= isset($_SESSION['contato']['nome']) ? $_SESSION['contato']['nome'] : "" ?>">
            <label>Email</label>
            <input type="email" name="email" class="span3" placeholder="seu@email.com" maxlength="50" value="<?= isset($_SESSION['contato']['email']) ? $_SESSION['contato']['email'] : "" ?>">
            <label>Assunto</label>
            <input type="text" name="assunto" class="span3" maxlength="50" value="<?= isset($_SESSION['contato']['assunto']) ? $_SESSION['contato']['assunto'] : "" ?>">
        </div>
        <div class="span5">
            <label>Mensagem</label>
            <textarea name="msg" class="input-xlarge span5" rows="10"  maxlength="50000"><?= isset($_SESSION['contato']['msg']) ? $_SESSION['contato']['msg'] : "" ?></textarea>
        </div>
    </div>
    <button type="submit" name="btn_enviar" class="btn btn-primary pull-right">Enviar</button>
</form>
<?php unset($_SESSION['contato']);?>