<div class="row-fluid">
    <div class="span12">
        <div class="heading clearfix">
            <h3 class="pull-left">Mensagens</h3>
        </div>
        <div class="mbox">
            <div class="tabbable">
                <div class="heading">
                    <ul class="nav nav-tabs">
                        <li <?= ($this->view == null || $this->view == "inbox") ? 'class="active"' : '' ?>>
                            <a href="<?= $this->url(array('controller' => 'contato', 'action' => 'mensagens', 'view' => 'inbox')) ?>"><i class="splashy-mail_light_down"></i>  Caixa de entrada</a>
                        </li>
                        <li <?= ($this->view == "trash") ? 'class="active"' : '' ?>>
                            <a href="<?= $this->url(array('controller' => 'contato', 'action' => 'mensagens', 'view' => 'trash')) ?>"><i class="icon-adt_trash"></i> Lixeira</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <table id="dtable" class="table table_vam mbox_table dTableR" data-msg_rowlink="a">
                            <thead>
                                <tr>

                                    <th>Remetente</th>
                                    <th>Assunto</th>
                                    <th>Email</th>
                                    <th>Data</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php if (isset($this->mensagens)): foreach ($this->mensagens as $m): ?>
                                        <tr <?= ($this->escape($m->con_status) == 1) ? 'class="unread"' : ''; ?>>
                                            <td><?= $this->escape($m->con_nome) ?></td>
                                            <td>
                                                <a href="<?= $this->url(array('controller' => 'contato', 'action' => 'visualizar', 'id' => $this->escape($m->con_id))) ?>">
                                                    <?= $this->escape($m->con_assunto) ?>
                                                </a>
                                            </td>
                                            <td><?= $this->escape($m->con_email) ?></td>
                                            <td><?= Zend_Registry::get('format')->formatTimestamp($this->escape($m->con_timestamp)) ?></td>
                                            <td class="actions"><a href="javascript:remove(<?= $this->escape($m->con_id) ?>);"><i class="splashy-document_letter_remove"></i></a></td>
                                        </tr>
                                    <?php endforeach;
                                endif;
                                ?>
                            </tbody>
                        </table>	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function remove(id) {
        if (confirm("Você tem certeza que deseja remover esta mensagem?") == true)
            window.location = '<?= $this->url(array('controller' => 'contato', 'action' => 'remover'), null, true) ?>' + '/id/' + id;
        else
            return false;

    }

    $(document).ready(function() {

        // inbox messages
        $('#dtable').dataTable({
            "oLanguage": {
                "sLengthMenu": "_MENU_ mensagens",
                "sZeroRecords": "Na há mensagens para exibir"
            },
            "sDom": "<'row'<'span6'<'dt_actions'>l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
            "sPaginationType": "bootstrap",
            "iDisplayLength": 25,
            "aaSorting": [[3, "desc"]],
            "aoColumns": [
                {"sType": "string"},
                {"sType": "string"},
                {"sType": "eu_date"},
                {"sType": "formatted-num"},
                {"bSortable": false, 'sWidth': '16px'}
            ]
        });

        // rowlink
        $('*[data-msg_rowlink]').each(function() {
            var target = $(this).attr('data-msg_rowlink');

            (this.nodeName == 'tr' ? $(this) : $(this).find('tr:has(td)')).each(function() {
                var link = $(this).find(target).first();
                if (!link.length)
                    return;

                var href = link.attr('href');

                $(this).find('td').not('.nohref').not('.actions').click(function() {
                    //* coment $(link).tab('show') and uncoment window.location = href to open message in new window
                    window.location = href;
                    //$(link).tab('show');
                    //$('.mbox .nav-tabs > .active').removeClass('active');
                });

                link.replaceWith(link.html());
            });
        });

    });

</script>