<div class="row-fluid">
    <div class="span12">
        <div class="heading clearfix">
            <h3 class="pull-left">Mensagens</h3>
        </div>
        <div class="mbox">
            <div class="tabbable">
                <div class="heading">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="<?= $this->url(array('controller' => 'contato', 'action' => 'mensagens', 'view' => 'inbox')) ?>"><i class="splashy-mail_light_down"></i>  Caixa de entrada</a>
                        </li>
                        <li>
                            <a href="<?= $this->url(array('controller' => 'contato', 'action' => 'mensagens', 'view' => 'trash')) ?>"><i class="icon-adt_trash"></i> Lixeira</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active">

                        <div class="doc_view">
                            <div class="doc_view_header">
                                <dl class="dl-horizontal">
                                    <dt>Assunto</dt>
                                    <dd><?= $this->escape($this->mensagem->con_assunto) ?></dd>
                                    <dt>Remetente</dt>
                                    <dd><?= $this->escape($this->mensagem->con_nome) ?></dd>
                                    <dt>Email</dt>
                                    <dd><?= $this->escape($this->mensagem->con_email) ?></dd>
                                    <dt>Data</dt>
                                    <dd><?= Zend_Registry::get('format')->formatTimestamp($this->escape($this->mensagem->con_timestamp)) ?></dd>
                                    <dt>IP</dt>
                                    <dd><?= $this->escape($this->mensagem->con_ip) ?></dd>
                                    
                                    <?php if($this->escape($this->mensagem->con_uid) > 0):?>
                                        <dt>Usuário</dt>
                                        <dd><?= '#'.$this->escape($this->usuario->u_id) .' - '. $this->escape($this->usuario->u_email)?></dd>
                                    <?php endif; ?>
                                </dl>
                            </div>
                            <div class="doc_view_content">
                                <?= $this->escape($this->mensagem->con_msg) ?>
                            </div>
                            <div class="doc_view_footer clearfix">
                                <div class="btn-group pull-left">
                                    <a href="javascript:void(0)" class="btn"><i class="icon-pencil"></i> Answer</a>
                                    <a href="javascript:void(0)" class="btn"><i class="icon-share-alt"></i> Forward</a>
                                    <a href="#" class="btn"><i class="icon-trash"></i> Remover</a>
                                </div>
                                <div class="pull-right">
                                    Size: 240 KB
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>